.currently-being-edited {
  box-shadow: 0px 0px 5px hsl(210, 80%, 50%);
}

.next-steps {
  margin: 0 auto;
  /* Without this the next steps was growing to 1000px or more in width.
     This in turn increased the size of PersonCreator which as the parent of
     Person somehow caused it to no longer be centered. */
  max-width: 900px;
  padding: 0.5rem;
  text-align: center;
  color: grey;
}

.next-steps a {
  text-decoration: none;
}

.next-steps.invalid .message {
  color: red;
}

.next {
  border: 1px solid hsl(210, 80%, 50%);
  color: hsl(210, 80%, 50%);
}

.next.secondary {
  min-width: 2rem;
}

input.next {
  display: unset;
  margin: 0.5rem;
}
