#attributions {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 825px;
  min-width: 500px;
  padding: 1rem;
}

#attributions p {
  text-align: justify;
  margin: 1rem 0;
}

#attributions li {
  padding: 0;
  margin: 1rem 0;
  list-style-type: unset;
}

#attributions ul {
  margin-left: 1rem;
}