.create-profile-prompt {
  margin: 1rem;
  justify-content: center;
}

#home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#home .content {
  display: flex;
  font-size: 1.61rem;
  flex-direction: column;
  flex-grow: 1;
  max-width: 900px;
}

#home p {
  padding: 1rem;
  margin: 0;
}

.created-profiles .person {
  margin: 1rem auto;
  width: 500px;
}