#home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#home .content {
  border: 1px solid #aaa;
  border-radius: 1.37%;
  display: flex;
  font-size: 1.61rem;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

#home p {
  padding: 1rem;
  margin: 0;
}