* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* leave margins and padding and layout for containers
   have elements that are just content
   allow flexbox to distribute without margins or padding */

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  min-height: 100%; /* Match viewport size and scroll if necessary */
  margin: 0;
}

@media (min-aspect-ratio: 21/9) {
  .image {
    flex-grow: 0;
  }

  .name {
    margin: 1vw;
    text-align: left;
  }

  #person-viewer {
    justify-content: center;
    min-height: 0px;
  }

  .person {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .person-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profiles {
    flex-grow: 0;
    justify-content: start;
  }

  .profile {
    margin: 1vw;
  }
}

button {
  background-color: white;
  border-radius: 0.2rem;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.62rem;
  cursor: pointer;
}

h1 {
  margin: 1rem;
}

input {
  background-color: white;
  font-size: 1rem;
  padding: 0.62rem;
  display: block;
  margin: 1rem auto;
  min-width: 10rem;
  border: 1px solid #aaa;
  border-radius: 0.2rem;
}

input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

input.invalid {
  border-color: red;
}

input:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

li {
  list-style-type: none;
  padding: 0.62rem;
}

.placeholder {
  color: lightgrey;
}

p {
  margin: 1rem auto;
  max-width: 900px;
}