* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* leave margins and padding and layout for containers
   have elements that are just content
   allow flexbox to distribute without margins or padding */

   html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
  }
  
  body {
    min-height: 100%; /* Match viewport size and scroll if necessary */
    margin: 0;
  }
  
  #root {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #root > .person {
    max-height: 50%;
  }
  
  button {
    border-radius: 0.2rem;
    font-size: 1rem;
    margin: 1rem auto;
    padding: 0.5rem;
    cursor: pointer;
  }

  h1 {
    margin: 1rem;
  }
  
  input {
    font-size: 1rem;
    padding: 0.5rem;
    display: block;
    margin: 1rem auto;
    min-width: 10rem;
    border: 1px solid #aaa;
    border-radius: 0.2rem;
  }
  
  input[type='button'],
  input[type='submit'] {
    cursor: pointer;
  }
  
  input.invalid {
    border-color: red;
  }
  
  input:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }

  li {
    list-style-type: none;
    padding: 0.5rem;
  }
  
  .placeholder {
    color: lightgrey;
  }

  p {
   margin: 1rem auto;
   max-width: 900px;
  }