.profiles {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.profile {
  flex-grow: 1;
}

.profile img {
  display: block;
  height: 5vh;
  margin: auto;
  width: auto;
}

.profile svg {
  display: block;
  height: 5vh;
  margin: auto;
  width: auto;
}

.profile span {
  background: black;
  color: #fff;
  padding: 5px 20px;
  border-radius: 50%;
  font-size: 35px;
}

li .profiles {
  display: none;
}