<!DOCTYPE html>
html
  head
    title -- Follow people, not platforms
    link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"
    link href="main.css" rel="stylesheet"
  body
    input#search type="search" placeholder="Type a person's name here." autofocus
    img#logo src="logo.png"
    h1 -- Follow people, not platforms
