<!DOCTYPE html>
html lang="en"
    head
        title - Follow People, Not Platforms
        link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"
        link href="/main.css" rel="stylesheet" type="text/css"
    body
        h1 - Follow
        h3 - Follow People, Not Platforms
