.next-steps {
  margin: 0 auto;
  text-align: center;
  color: grey;
}

.next-steps.invalid .message {
  color: red;
}

.next {
  /* background-color: hsl(210, 80%, 50%); */
  border: 1px solid hsl(210, 80%, 50%);
  color:hsl(210, 80%, 50%);
}