.person {
  display: flex;
  flex-direction: column;
  height: 62%;
  max-width: 900px;
}

li .person {
  flex-direction: row-reverse;
}

.name {
  flex-grow: 1;
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  font-size: 6vmin;
  letter-spacing: 0.05em;
  margin: 1rem;
  text-align: center;
}

li .name {
  flex-grow: 6;
  font-size: unset;
  margin: 0;
  margin-left: 0.5rem;
  text-align: left;
}

.name.placeholder {
  color: lightgrey;
}

.Avatar {
  flex-grow: 0;
  height: 62%;
  margin: 1rem;
  width: auto;
}

li .Avatar {
  height: 1.5rem;
  margin: 0;
}

.Avatar img {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

#facebook img {
  border-radius: 50%;
}