.person {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 900px;
  padding: 1rem 0;
  justify-content: space-between;
}

li .person {
  flex-direction: row-reverse;
  padding: 0;
}

.name {
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  font-size: 6vmin;
  letter-spacing: 0.05em;
  text-align: center;
}

li .name {
  flex-grow: 1;
  font-size: unset;
  text-align: left;
}

.name.placeholder {
  color: lightgrey;
}

.Avatar {
  flex-grow: 0.62;
  /* TODO: Come up with a better solution for shrinking the avatar. */
  height: 20vmax;
  max-height: 20vmax;
  width: auto;
}

li .Avatar {
  flex-grow: 0;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.Avatar img {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

#facebook img {
  border-radius: 50%;
}