#create-person img {
  height: 1.3rem;
}

#create-suggested-person h1 {
  display: inline;
}

#create-person:hover {
  background-color: #eee;
}

a:focus > #create-person {
  background-color: #dfdfdf;
}

#create-suggested-person {
  margin-left: 0.5rem;
}

#create-suggested-person .name {
  font-size: 1rem; /* TODO: Find out why this is necessary, it didn't used to be. */
}

/* Find a more elegant way to unset this without screwing up SearchResult styles. */
#create-person a {
  text-decoration: underline;
  color: blue;
}
