.person {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
  width: 100%; /* Without this the width of the Person was determined by the contents, usually be the length of the name. This meant the length of the name affected the width of the Image. */
}

li .person {
  flex-direction: row-reverse;
  padding: 0;
}

.name {
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  font-size: 6vmin;
  letter-spacing: 0.05em;
  margin: 0;
  text-align: center;
  word-break: break-word;
}

li .name {
  flex-grow: 1;
  font-size: 1rem;
  text-align: left;
  line-height: 3vh; /* Hack to vertically align text based on the image size which determines the li height. */
}

.image {
  flex-grow: 1;
  margin: 1rem;
}

li .image {
  flex-grow: 0;
  height: 3vh;
  margin: 0 0.5rem 0 0;
  width: 3vh;
}