.person {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0;
  justify-content: space-between;
}

li .person {
  flex-direction: row-reverse;
  padding: 0;
}

.name {
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  font-size: 6vmin;
  letter-spacing: 0.05em;
  margin: 0;
  text-align: center;
}

li .name {
  flex-grow: 1;
  font-size: unset;
  text-align: left;
}

.image {
  flex-grow: 1;
  margin: 1rem;
  overflow: hidden;
}

li .image {
  flex-grow: 0;
  height: 1.5rem;
  margin: 0 0.5rem 0 0;
}

.image img {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

#facebook img {
  border-radius: 50%;
}
