.SearchResults {
  background-color: white;
  border: 1px solid #AAA;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  position: relative;
  z-index: 1;
}

.SearchResults a {
  text-decoration: none;
  color: black;
}

.SearchResults li {
  list-style-type: none;
}