.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li .profiles {
  align-self: flex-end;
}

.profile {
  margin: 1rem;
}

li .profile {
  margin: 0 0.62rem;
}

.profile img {
  height: 2.59rem;
}

li .profile img {
  height: 3vh;
}

.profile svg {
  display: block;
  height: 2.59rem;
  margin: auto;
  width: auto;
}

.profile span {
  background: black;
  color: #fff;
  padding: 5px 20px;
  border-radius: 50%;
  font-size: 35px;
}
