.Profile {
  margin: 1em;
  flex-grow: 1;
}

.Profile img {
  height: 100%;
  width: auto;
}

.Profile span {
  background: black;
  color: #fff;
  padding: 5px 20px;
  border-radius: 50%;
  font-size: 35px;
}

#facebook img {
  border-radius: 50%;
}