<!DOCTYPE html>
html lang="en"
    head
        title - Follow Suggestions
        link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"
        link href="/main.css" rel="stylesheet" type="text/css"
    body
        div
            h2 - Here are some suggestions based on your Twitter friends.
            div for(friend in data.friends)
                img src="${friend.profile_image_url}"
                h3 - ${friend.name}
                h4 - ${friend.screen_name}
                p - ${friend.description}
