#omnibox {
  margin: 0.5rem;
  max-width: 900px;
  /* Had to add this in combination with 'align-items: center' otherwise the input width went really small. */
  width: 100%;
}

.results {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  position: absolute;
  width: 900px;
  z-index: 1;
}

.search-result {
  list-style-type: none;
}

.results ul a {
  text-decoration: none;
  color: black;
}

.results ul li {
  list-style-type: none;
}


.search-result:hover {
  background-color: #eee;
}

a:focus > .search-result {
  background-color: #dfdfdf;
}

.results-count {
  color: gray;
  font-style: italic;
}

.results-pager button {
  border-color: hsl(210, 80%, 50%);
  font-size: 0.62rem;
  margin: 0.31rem;
}

.results-pager .page {
  border-radius: 50%;
  padding: 0;
  height: 1rem;
  width: 1rem;
}

.results-pager .current-page {
  background-color: hsl(210, 80%, 50%);
  color: white;
}

.results-pager .more {
  border-radius: 0.2rem;
  padding: 0.1rem;
}