iframe {
  border: 1px solid #aaa;
  border-radius: 0.2rem;
  resize: both;
}

.copy-widget {
  border: 1px solid hsl(140, 60%, 50%);
  border-radius: 0.2rem;
  color: hsl(140, 60%, 50%);
  flex-shrink: 0;
  height: 2.8rem;
  overflow: hidden;
}

.copy-widget :focus {
  outline: none;
}

.copy-widget input {
  padding: 0.62rem;
  margin: 0;
  border: 0;
  text-align: center;
}

.copy-widget-text {
  bottom: 0;
  display: inline-grid;
  position: relative;
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.copy-widget-text.copied {
  bottom: 2.5rem;
}

.copy-button {
  margin: 0;
  border: 0;
  border-left: 1px solid hsl(140, 60%, 50%);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.copied-message {
  color: hsl(140, 60%, 50%);
}

pre {
  border: 1px solid hsl(140, 60%, 50%);
  border-radius: 0.2rem;
  margin: 1rem;
  padding: 1rem;
}