#footer {
  display: flex;
  margin-top: auto;
  padding-top: 1.61rem;
  width: 100%;
}

.left, .right {
  flex-basis: 0;
  flex-grow: 1;
}

.left {
  text-align: end;
}

.right {
  text-align: start;
}

#footer a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: unset;
}