#the-input {
  /* Remove default blue glow outline for focused element */
  outline: none;
  /* Inherited margin: 1rem auto from input styling but this caused it to meet left and right edges in Search. */
  margin: 0.62rem 0;
  width: 100%;
  max-width: 900px;
}
